.education-card-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 100px;
  padding-bottom: 10px;
}

@media (max-width: 968px) {
  .education-card-container {
    flex-direction: column;
  }
}

.education-card {
  border: 1px solid;
  border-radius: 30px;
  position: relative;
  animation: glowing-border 2s ease-in-out infinite;
}

@keyframes glowing-border {
  0% {
    box-shadow: 0 0 70px rgb(255, 132, 0);
  }
  20%{
    box-shadow: 0 0 70px  rgb(255, 132, 0);
  }
  60% {
    box-shadow: 0 0 70px rgb(249, 247, 247);
  }
  100% {
    box-shadow: 0 0 70px rgb(79, 216, 24);
  }
}

.education-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 120px;
}

.education-logo-img {
  width: 100%;
  height: auto;
}
