.education-card-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 100px;
  padding-bottom: 10px;
}

@media (max-width: 968px) {
  .education-card-container {
    flex-direction: column;
  }
}

.education-card {
  border: 1px solid;
  border-radius: 30px;
  position: relative;
  animation: glowing-border 2s ease-in-out infinite;
}

@keyframes glowing-border {
  0% {
    box-shadow: 0 0 70px rgb(255, 132, 0);
  }
  20%{
    box-shadow: 0 0 70px  rgb(255, 132, 0);
  }
  60% {
    box-shadow: 0 0 70px rgb(249, 247, 247);
  }
  100% {
    box-shadow: 0 0 70px rgb(79, 216, 24);
  }
}

.education-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 120px;
}

.education-logo {
  width: 100%;
  height: auto;
}

.timeline {
  position: relative;
  max-width: 900px;
  margin: 50px auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-item {
  padding: 20px 40px;
  position: relative;
  width: 50%;
}

.timeline-item.left {
  left: 0;
  text-align: right;
}

.timeline-item.right {
  left: 50%;
}

.timeline-item::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: -10px;
  background-color: white;
  border: 3px solid #222;
  top: 20px;
  border-radius: 50%;
  z-index: 1;
}

.timeline-item.right::after {
  left: -10px;
}

.timeline-year {
  position: absolute;
  top: 10px;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.timeline-item.left .timeline-year {
  right: -120px;
}

.timeline-item.right .timeline-year {
  left: -120px;
}

.content {
  padding: 20px;
  background-color: #222;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}
