.education-card-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 100px;
  padding-bottom: 100px;
}

@media (max-width: 968px) {
  .education-card-container {
    flex-direction: column;
  }
}

.education-card {
  border: 5px solid;
  border-radius: 10px;
  position: relative;
  animation: glowing-border 1s ease-in-out infinite;
}

@keyframes glowing-border {
  0% {
    box-shadow: 0 0 5px red;
  }
  50% {
    box-shadow: 0 0 20px red;
  }
  100% {
    box-shadow: 0 0 5px red;
  }
}

.education-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 120px;
}

.education-logo-img {
  width: 100%;
  height: auto;
}
